.form-select:focus,
.form-select:active,
.btn:focus,
.btn:active{
    box-shadow:none !important;
    outline:0px !important;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

li:hover {
    background-color: #d8d8d8;
}